.infocard {
    width: 850px; /* Width is 75% of the viewport width or 1000px, whichever is smaller */
    height: 800px; /* Maximum height is 80% of the viewport height or 700px, whichever is smaller */
    /* overflow-y: auto; */
    background-color: rgba(255, 255, 255, 0.12); /* Color is 12% opacity of #FFFFFF */
}

@media (max-width: 850px) {
    .infocard {
        height: auto; /* Double the height if viewport height is less than 700px */
    }
}

.infocard-content {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 40px;
    display: flex; /* Use flexbox */
    align-items: flex-start; /* Align items to the start of the cross-axis (left) */
    flex-direction: column;
    color: #fffff0f3;
}

.title {
    font-size: 2.4rem;
    padding-top: 22px;
    padding-bottom: 5px;
    font-weight: bold;
    letter-spacing: 0.03rem;
}

.heading {
    font-size: 1.3rem;
    padding-top: 1.1rem;
    padding-bottom: 3px;
    font-weight: 1000;
    letter-spacing: 0.03rem;
}

.heading::before {
    content: "> ";
}

.paragraph {
    font-size: 1rem;
    text-align: left;
    line-height: 1.15rem;
    word-spacing: 0.00rem;
    letter-spacing: -0.01rem;
}
@media (max-width: 850px) {
    .paragraph{
        font-size: 0.95rem;
    }
    .mega-space{
        padding-top: 100px;
    }
}

.green-text {
    color: #88FF7E;
}

.mini-space {
    padding-top: 10px;
}

.mega-space {
    padding-bottom: 50px;
}

.linkcontainer {
    font-size: 0.95rem;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.755); /* 75% opacity white */
    border-radius: 10px; /* Adjust the value to control the curvature */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    text-decoration: none; /* Remove underline */
    color: rgb(30, 0, 52); /* Set text color */
  }

.linkcontainer:hover {
    background-color: rgba(214, 197, 255, 0.85); /* Change background color on hover */
}

.darklinkcontainer {
    font-size: 0.95rem;
    display: inline-block;
    background-color: rgba(7, 2, 19, 0.311);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    text-decoration: none; /* Remove underline */
    color: #fffff0f4; /* Set text color */
  }

.darklinkcontainer:hover {
    background-color: rgba(36, 8, 101, 0.73); /* Change background color on hover */
}
