.infocard {
    width: min(95vw, 850px); /* Width is 75% of the viewport width or 1000px, whichever is smaller */
    height: 800px; /* Maximum height is 80% of the viewport height or 700px, whichever is smaller */
    /* overflow-y: auto; */
    background-color: rgba(255, 255, 255, 0.12); /* Color is 12% opacity of #FFFFFF */
}

.infocard-content {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: max(20px, 4vh);
    display: flex; /* Use flexbox */
    align-items: flex-start; /* Align items to the start of the cross-axis (left) */
    flex-direction: column;
    color: #FFFFF0;
}

.title {
    font-size: 2.1rem;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

.heading {
    font-size: 1.3rem;
    padding-top: 1.1rem;
    padding-bottom: 5px;
    font-weight: 1000;
}

.heading::before {
    content: "> ";
}

.paragraph {
    font-size: 1rem;
    text-align: left;
    line-height: 1.1rem;
    word-spacing: 0.00rem;
    letter-spacing: -0.01rem;
}

.green-text {
    color: #88FF7E;
}

.mini-space {
    padding-top: 7px;
}

.mega-space {
    padding-bottom: 50px;
}

.linkcontainer {
    font-size: 0.95rem;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8); /* 75% opacity white */
    border-radius: 10px; /* Adjust the value to control the curvature */
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    text-decoration: none; /* Remove underline */
    color: rgb(30, 0, 52); /* Set text color */
  }

.linkcontainer:hover {
    background-color: lightgray; /* Change background color on hover */
}
