/* src/styles/fonts.css */
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('./fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}
